*{
    margin: 0;
    padding: 0;
}

.wapper{
    min-height: calc(100% - 15rem);
}

/* PAGINA PRINCIPAL */
#seccionprincipal{
    width: 100%;
    height: 100%;
}

#seccionprincipal .fondo{
    width: 100%;
    height: 98%;
    margin-top: 89px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.encabezado{
    position: absolute;
    width: 100%;
    height: 100px;
    transition: all 0.5s ease;
    background: black;
    margin-top: -10px;
}

.encabezado img{
    margin-left: 8%;
    display: inline;
    width: 70px;
    margin-top: 20px;
    float: left; 
    object-fit: cover;
}

.encabezado nav{
    height: 50px;
    width: 50%;
    margin-left: 200px;
    margin-top: 30px;
    padding-right: 50px;
    border-left: 3px solid #00AAF7;
}

.encabezado nav a{
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 16px 13px;
    text-decoration: none;
    transition: .3s;
    height: 1em;
    transition: all .3s;
    border-radius: 15px;
}


.encabezado nav a:hover{
    background-color: white;
    border-bottom:4px solid #00AAF7;
    color:black;

}

/*fin de encabezado*/





/* SEGUNDA SECCION */
#secondsection{
    width: 100%;
    height:100%;
    background-color: #00AAF7;
    position: relative;
}
/* TITULO SECCION */
header{  
    width: 100%;
    height: 30px;
    text-align: center;
}


header h1{
     color: aliceblue;
     font-size: 50px;
}


header p{
    color: aliceblue;
    font-size: 18px;
    width: 40%;
    padding:10px;
    border-bottom: 2px solid white;
    margin-left: 400px;
}

/* CONTENEDORES TEXTO */
.cards{
    width: 900px;
    height: 350px;
    margin-top: 130px;
    padding: 10px 10px;
    margin-left: 250px;
}

.cards:hover .imagen{
   margin-left: 0em;

}

.cards .imagen{
 width: 40%;
 height: 80%;
 margin: -1em 14em ;
 z-index: 100;
 position: absolute;
 transition: all 1s;
}
.cards img{
    width: 450px;
    height: 410px;
    background-size: cover;  
    border-radius: 10px; 
}

.content{
    display: inline-block;
    width:400px;
    margin-top: 50px;
    position: absolute;
    margin: 1em 15em;
    transition: all 1s;
    z-index: 1;
}

.titulo_cards{
    text-align: right;
    margin-right: 10px;
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
  
}

.texto{
    padding:10px 20px;
    background-color: white;
    border-radius: 10px;
    color: #002a3f;
    font-size: 18px;
 
}

.cards:hover .content{
    visibility: visible;
    margin-top: 1em;
    margin-left: 22em;
    
}

.cards:hover .texto{
    visibility: visible;
    padding:10px 20px;
    margin-top: 0;
    border-radius: 10px;
    position:absolute;
    height: 8em;
    width: 20em;
    margin-left: 6em;
  
}

/* TERCERA SECCION */
#threesection{
    width: 100%;
    height:100%;
    background-color: white;
}
/* TITULO SECCION CONTRASTADO */
.header2{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
}

.header2 h1{
     color: black;
     font-size: 50px;
}

.header2 p{
    color: black;
    font-size: 18px;
    width: 40%;
    padding:10px;
    border-bottom: 2px solid black;
    margin-left: 400px;
}

.titulo_cards2{
    text-align: right;
    margin-right: 10px;
    color: #00AAF7;
    font-size: 30px;
    margin-bottom: 25px;
}

.texto2{
    padding:10px 20px;
    background-color: #00AAF7;
    border-radius: 10px;
    color: white;
    text-align: right;
    font-size: 18px;
}

.cards:hover .texto2{
    visibility: visible;
    padding:10px 20px;
    margin-top: 0;
    border-radius: 10px;
    position:absolute;
    height: 8em;
    width: 20em;

}

/* CUARTA SECCION */
#foursection{
    width: 100%;
    height:100%;
    background-color: #00AAF7;
}
/* QUINTA SECCION */
#fivesection{
    width: 100%;
    height:100%;
    background-color: white;
}
/* CODIGO CURSOS */
.container_superior{
    width: 18%;
    height: auto;
    background-color:#002a3f;
    display: inline-block;
    margin-left: 70px;
    margin-top: 100px;
    border-radius: 15px;
}
.img_artes img{
    width: 100%;
    height: 200px;
    border-top: 2px solid #00AAF7;
    border-radius: 15px 15px 0px 0px;
}
.texto_artes{
    width: 80%;
    padding: 10px 20px;
    text-align: center;
    color: white;
}
.texto_artes a{
    padding: 5px 50px;
    background-color: #00AAF7;
}

/*IMAGEN DEL MEDIO CORRE HACIA LA DERECHA*/

.cards #img_derecha{
    width: 40%;
    height: 80%;
    margin: -1em 14em ;
    z-index: 100;
    position: absolute;
    transition: all 1s;
   }

.cards:hover #img_derecha{
    margin-left: 26em;
   }

.cards:hover #content_izquierda{
    margin-left: 0em;
}

#content_izquierda{
    display: inline-block;
    width:400px;
    margin-top: 50px;
    position: absolute;
    margin: 1em 15em;
    transition: all 1s;
    z-index: 1;
}


/* PIE DE PAGINA */
.pie_pagina{
    height: 15rem;
    background-color: black;
}
.container_img{
   padding: 30px 80px;
   display: inline-block;
}
.logo_pie_pagina{
    width: 120px;
}
.red_social{
    background-color:black;
    display: inline-block;
    width: 30%;
    padding: 15px;
}

.text_icono, a{
    color: aliceblue;
}
.text_icono i, a{
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

.container_map{
    display: inline-block;
    padding-left: 200px;
}

.titulo_icono{
    font-size: 23px;
    color: #00AAF7;;
    font-weight: bold;
    padding: 5px;
}

iframe{
    border-radius: 10px;
}
.abajo{
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #000b11;
}
.abajo p{
    padding: 10px;
    color: white;
    font-weight: bold;
}
