*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

body{
    /* linear-gradient(-45deg, #060029,#000, #00011C) */
    padding-top: 150px;
    background-color: black;
    background-position: center;
	background-size: cover;
	height: 100vh;
}

/* COMIENZO MENU */
header{
    color: white;
    width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index:500;
    background-image: url(../img/3.png);
}

header img{
    margin-left: 8%;
    display: inline;
    width: 90px;
    margin-top: 20px;
    float: left; 
    object-fit: cover;
}

header h1{
    font-size: 50px;
    color: white;
    line-height: 70px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 5px;
    margin-bottom: 5px;
    display: inline-block;
    transition: all 0.3s ease;
    border-left: 5px solid #6cc33c;
    font-family:'Franklin Gothic Medium';
}

header h1{
    color:white;
}

header nav{
    position: absolute;
    height: 50px;
    width: 100%;
    text-align: right;
    padding-right: 50px;
}

header nav a{
    
    color: white;
    font-weight: 600;
    display: inline-block;
    padding: 13px 20px;
    margin-right: -5px;
    text-decoration: none;
}

header nav a:hover{
    color: black;
    background-color: white;
    border-bottom: 4px solid #6cc33c;
    border-radius: 15px;
}

span{
    color: #6cc33c;
}
/* FIN MENU */

/* PORTAFOLIO */
.portafolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    width: 85%;
    margin: auto;
    grid-gap: 10px;
    padding: 30px 30px;
    background-color: #6cc33c;
    border-radius: 10px;
    overflow: hidden;
}

.portafolio > a{
    display: block;
    position:static;
    overflow: hidden;
}

.portafolio img{
    width: 100%;
    vertical-align: top;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
    filter: brightness(80%);
}

.portafolio a:hover img{
    filter: blur(1px);
    z-index: 1;
    filter: brightness(200%);   
}
 /* FIN PORTAFOLIO CONVENCIONAL */

 /* COMIENZO IMAGEN AL HACERLE CLICK */

.img_big{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .2s ease-in-out;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.img_big .container{
    background-color: white;
    width: 70vw;
    max-height: 70vh;
}

.img_big .second{
    display: inline-block;
    margin-top: 10px;
    width:35%;
    margin-left: 4%;
    margin-top: 10%;
}
 
.img_big p{
    text-align: justify;
}

#user{
    padding: 18px;
    color: gray;
    font-size: 45px;
    display: inline;
    float: left;
    margin-top: 10px;
}

.img_big h2{
    display: inline-block;
    font-size: 20px;
    color: rgb(56, 55, 55);
    margin-top: 30px;
}

.img_big pre{
  font-size: 13px;
  color:rgb(83, 83, 83);
  margin-bottom: 30px;
}

.img_big img{
    width: 40vw;
    max-height: 70vh;
    float: left;
}

.img_big:target{
     transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    background:gray;
    color:black;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    font-weight: bold;
}

.next{
    display: block;
    background-color:gray;
    color: #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align:center;
}

.next:hover{
    background:rgba(128, 128, 128, 0.26);
}

.close:hover{
    background:rgba(128, 128, 128, 0.26);
}